<%- include('../components/Header',{title:"Seu Aproveitamento"}) %>
<body>
    <main class="dashboardContainer flexH">
        <%- include('../components/DashboardMenu') %>
        <div class="mainArea">
            <%- include('../components/DashboardHeader',{headerArea:"Seu Aproveitamento"}) %>
            <h1 class="portalArea">*Aproveitamento</h1>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
        </div>
    </main>
    <%- include('../components/Footer')%>