<%- include('../components/Header',{title:"Portal do Estudante"}) %>
<body>
  <main class="dashboardContainer flexH">
    <%- include('../components/DashboardMenu') %>
    <div class="mainArea">
      <%- include('../components/DashboardHeader') %>

      <h1 class="portalArea">*Notas</h1>
      <section class="notasContainer flexV">
        <div class="notaYearContainer flexV">
          <div class="notaYearHeader flexH">
            <h2>9º Classe</h2>
            <h2>Ano: 2024</h2>
            <button class="seeMarks">Ver</button>
          </div>
          <div class="pontuationContainer">
            <div class="subjectsHeader">
              <div>
                <h4>Disciplina</h4>
              </div>
              <div class="notas">
                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T1</h4>

                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T2</h4>


                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T3</h4>

                <h4>MF</h4>
              </div>
            </div>


                <div class="subjectsBody">
                  <div>
                    <h4>Matemática</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>L.Portuguesa</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Química</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Biologia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Inglês</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>História</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EMC</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EVP</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Laboral</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Geografia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
          </div>
        </div>
        <div class="notaYearContainer flexV">
          <div class="notaYearHeader flexH">
            <h2>8º Classe</h2>
            <h2>Ano: 2023</h2>
            <button class="seeMarks">Ver</button>
          </div>
          <div class="pontuationContainer">
            <div class="subjectsHeader">
              <div>
                <h4>Disciplina</h4>
              </div>
              <div class="notas">
                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T1</h4>

                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T2</h4>


                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T3</h4>

                <h4>MF</h4>
              </div>
            </div>


                <div class="subjectsBody">
                  <div>
                    <h4>Matemática</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>L.Portuguesa</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Química</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Biologia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Inglês</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>História</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EMC</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EVP</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Laboral</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Geografia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
          </div>
        </div>
        <div class="notaYearContainer flexV">
          <div class="notaYearHeader flexH">
            <h2>7º Classe</h2>
            <h2>Ano: 2022</h2>
            <button class="seeMarks">Ver</button>
          </div>
          <div class="pontuationContainer">
            <div class="subjectsHeader">
              <div>
                <h4>Disciplina</h4>
              </div>
              <div class="notas">
                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T1</h4>

                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T2</h4>


                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T3</h4>

                <h4>MF</h4>
              </div>
            </div>


                <div class="subjectsBody">
                  <div>
                    <h4>Matemática</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>L.Portuguesa</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Química</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Biologia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Inglês</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>História</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EMC</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EVP</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Laboral</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Geografia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
          </div>
        </div>
        <div class="notaYearContainer flexV">
          <div class="notaYearHeader flexH">
            <h2>6º Classe</h2>
            <h2>Ano: 2021</h2>
            <button class="seeMarks">Ver</button>
          </div>
          <div class="pontuationContainer">
            <div class="subjectsHeader">
              <div>
                <h4>Disciplina</h4>
              </div>
              <div class="notas">
                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T1</h4>

                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T2</h4>


                <h4>P1</h4>
                <h4>P2</h4>
                <h4>T3</h4>

                <h4>MF</h4>
              </div>
            </div>


                <div class="subjectsBody">
                  <div>
                    <h4>Matemática</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>L.Portuguesa</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Química</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Biologia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Inglês</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>História</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EMC</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>EVP</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Laboral</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Ed.Física</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
                <div class="subjectsBody">
                  <div>
                    <h4>Geografia</h4>
                  </div>

                  <div class="notas">
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>

                    
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
  
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                    <h4>10</h4>
                  </div>
                </div>
          </div>
        </div>

      </section>

    </div>
  </main>
  <%- include('../components/Footer')%>