<div class="studentHeader">
    <button class="portalHamburguer">H</button>
    <h1 class="portalAreaDesk">Seu Portal</h1>
    <div class="portalAvatarContainer">
        <img src="/users/gra.jpg" alt="user-Avatar">
    </div>
</div>