<footer class="footerContainer flexV">
    <p><%=__('WithLove')%> Graciano Henrique</p>
</footer>

<script src="/assets/index.js" type="module"></script>
<script src="/assets/custom.js"></script>
</body>
</html>