<div class="wellcomeUser">
    <div class="wellcomeWrapper flexV">
        <div class="wellcomeAvatarWrapper">
            <img src="/users/gra.jpg" alt="user-Avatar">
        </div>
        <div class="wellcomedetails flexV">
            <h2>Seja Bem vindo</h2>
            <h2>Graciano Henrique</h2>
        </div>
        <div class="wellcomeInfo flexV">
            <p>c inventore facere odio autem blanditiis, provident repudiandae est dicta assumenda veniam optio veritatis dolorum eos?</p>
        </div>
        <button id="btnContinue">Continuar</button>
    </div>
</div>