<%- include('./components/Header',{title:"Página Não Encontrada"}) %>
<%- include('./components/Menus') %>
<main class="notfoundContainer">
    <div class="flexV">
      <h1>Página não Encontrada.</h1>
      <h3>Porfavor Certifica-se de que estejas conectado a internet.</h3>
      <h3>Porfavor Certifica-se de escrever um endereço válido.</h3>
    </div>
  </main>
  <%- include('./components/Footer') %>