<%- include('./components/Header',{title:"Acerca da Escola"}) %>
<%- include('./components/Menus') %>
    <main class="homePageContainer">
        <section class="boasVindasContainer flexV">
            <h1>Sobre a Escola Dom Jaca</h1>
            <h2>Saiba tudo sobre nós.</h2>
        </section>
        <section class="missaoContainer">
            <div class="textContainer">
                <h1>Quem Somos</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>

        <section class="visaoContainer">
            <div class="picContainer">
            </div>
            <div class="textContainer visao">
                <h1>Nossa História</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                    </p>
            </div>
        </section>

        <section class="diretoresContainer">
                <h1 class="h1">Nossos Directores</h1>  

            <div class="sliderContainer">
                <div>
                    1
                </div>
                <div>
                    2
                </div>
                <div>
                    3
                </div>
                <div>
                    4
                </div>
                <div>
                    5
                </div>
                <div>
                    6
                </div>
                <div>
                    7
                </div>
                <div>
                    8
                </div>
            </div>

        </section>



    </main>
    <%- include('./components/Footer')%>