<%- include('./components/Header',{title:"Portal Login"}) %>
<%- include('./components/Menus') %>
<body>
<main class="loginWrapper">
            <div class="login flexV">
                <form action="#" class="loginContainer flexV">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                    <button>Entrar</button>
                    <a href="#" style="color: white;">Recuperar sua senha</a>
                </form>

    </main>
    <%- include('./components/Footer') %>