<%- include('./components/Header',{title:"Dom Jaca Matriculas e Confirmações"}) %>
<%- include('./components/Menus') %>
    <main class="homePageContainer">
        <section class="boasVindasContainer flexV">
            <h1>Área de Mátricula e Confirmação</h1>
            <h2>Faça a tua mátricula ou confirmação onde estiveres.</h2>
        </section>
        <section class="diferencasContainer">
            <div class="textContainer">
                <h1>Venha Estudar Conosco</h1>
              <form  class="formMatricula flexV">
                <label for="nome">
                    Nome Completo
                </label>
                <input type="text" name="nome" id="nome">
                <label for="documentoTipo">
                    Tipo de Documento
                </label>
                <select name="documentoTipo" id="documentoTipo">
                    <option value="bilhete">Bilhete</option>
                    <option value="cédula">Cédula</option>
                    <option value="passaporte">Passaporte</option>
                    <option value="atestado">Acento de Nascimento</option>
                </select>
                <div class="contatos flexH">
                    <div class="flexV">
                        <label for="telefone">Tel.Encarregado</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="ex: 935636086">
                    </div>
                    <div class="flexV">
                        <label for="telefone">Tel. Estudante</label>
                        <input type="tel" name="telefone" id="telefone" placeholder="ex: 915678609">
                    </div>
                </div>
                <label for="sexo">
                    Sexo
                </label>
                <select name="sexo" id="sexo">
                    <option value="masculino">Masculino</option>
                    <option value="femenino">Femenino</option>
                </select>
                <label for="classe">
                    Classe
                </label>
                <select name="classe" id="classe">
                    <option value="0">Inciciação</option>
                    <option value="1">1ª Classe</option>
                    <option value="2">2ª Classe</option>
                    <option value="3">3ª classe</option>
                    <option value="4">4ª classe</option>
                    <option value="5">5ª classe</option>
                    <option value="6">6ª classe</option>
                    <option value="7">7ª classe</option>
                    <option value="8">8ª classe</option>
                    <option value="9">9ª classe</option>
                </select>
                <!-- <label for="turno">
                    Turno
                </label>
                <select name="turno" id="turno">
                    <option value="manhã">Manhã</option>
                    <option value="tarde">Tarde</option>
                </select> -->
                <label for="matricula">
                    Mátricula ou Confirmação ?
                </label>
                <select name="matricula" id="matricula">
                    <option value="matricula">Mátricula</option>
                    <option value="confirmacao">Confirmação</option>
                </select>
                <label for="foto">Fotografia</label>
                <input type="file" name="foto" id="foto">
                <label for="documento">Documento</label>
                <input type="file" name="documento" id="documento">
                <label for="documento">Declaração ou Certificado da classe anterior</label>
                <input type="file" name="documento" id="documento">

               <button>Salvar</button> 
              </form>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>
    </main>
    <%- include('./components/Footer') %>