* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.h1{
  font-size: calc(50px + 10%);
}

.flexH {
  display: flex;
}

.flexV {
  display: flex;
  flex-direction: column;
}

body {
  background-color: white;
}

.headerContainer {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0 10px 0;
  /* background-color: rgba(52, 50, 26, 0.953); */
  background: brown;
  z-index: 2000;
}

nav{
  display: none;
}

#btnHamburguer{
padding:10px;
margin-right: 10px;
background-color: transparent;
border: solid 1px white;
color:white;
transition: all 1s ease-in-out;
}

#btnClose{
padding:10px;
margin-right: 10px;
background-color: transparent;
border: solid 1px white;
color:white;
transition: all 1s ease-in-out;
}

#btnHamburguer:hover,
#btnClose:hover,
#portalLink:hover{
  box-shadow: 0 0 8px 5px rgba(255, 217, 0, 0.839);
}

.logo,
.logoDashboard {
  cursor: pointer;
  /* background-color: rgba(239, 234, 144, 0.953); */
}

.logo a{
  text-decoration: none;
  color: rgba(239, 234, 144, 0.953);
}

.logoDashboard{
  background-color: rgba(52, 50, 26, 0.953);
  position: absolute;
  width: 18.4%;
  top: 0;
  left:0;
}

.dashboardHeader{
  position: absolute;
  top: 0;
  width: 100%;
  background-color: brown;
  height: 100px;
}

.logoDashboard a{
  text-decoration: none;
  color: rgba(239, 234, 144, 0.953);
}

#sair{
  color:rgb(248, 159, 159);
}

.notfoundContainer {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

.notfoundContainer div {
  gap: 12px;
  /* background-color: rgba(52, 50, 26, 0.953); */
  color: rgba(52, 50, 26, 0.953);
}

.notfoundContainer div h1 {
  font-size: calc(40pt + 10%)
}

.footerContainer {
  /* position: fixed; */
  /* bottom: 0;
  width: 100%; */
  height: 25px;
  background-color: rgb(29, 29, 11);
  color: white;
  padding: 15px; 
  text-align: center;
  font-style: italic;
  font-size: 12px;
}

.mainPageContainer {
  /* padding: 20px; */
  /* height: 500vh; */
  /* background-color: yellowgreen; */
}

.missaoContainer,
.visaoContainer,
.diferencasContainer {
  height: 1000px;
  padding: 150px 80px 80px 80px;
  display: grid;
  grid-template-columns: 65fr 35fr;
  background-color: rgb(39, 39, 20);
  column-gap: 15px;
  justify-content: space-between;
  color: white;
  overflow-x: hidden;
}

.missaoContainer .picContainer,
.visaoContainer .picContainer,
.diferencasContainer .picContainer
{
  position: relative;
  transition: all 2s ease-in-out;
}

.missaoContainer .picContainer,
.diferencasContainer .picContainer
{
  right: -200%;
}

.visaoContainer .picContainer{
  box-shadow: 0 0 20px 10px brown;  
}
.missaoContainer .picContainer{
  box-shadow: 0 0 20px 10px white;
}

.diferencasContainer .picContainer{
  box-shadow: 0 0 20px 10px black;
}


.visaoContainer .picContainer{
left: -200%;
}


.missaoContainer:hover > .picContainer,
.diferencasContainer:hover > .picContainer
{
  right: 0;
}

.visaoContainer:hover > .picContainer{
  left: 0;
}

@keyframes directorSlider {
  0%{
    visibility: visible;
    transform: translateX(0);
    /* background-color: pink; */
    /* transform: translateX(-20px); */
  }
  50%{
    /* background-color: yellow; */
    visibility: visible;
    transform: translateX(-1500px);
    /* display: none; */
    visibility: hidden;
  }

  55%{
    /* display: none; */
    visibility: visible;
    /* background-color: transparent;
    border: transparent; */
    /* transform: translateX(110%); */
    transform: translateX(1500px);
  } 

  100%{
    visibility: visible;
    /* display: flex; */
    /* background-color: blue; */
    transform: translateX(0);
    /* left:0; */
  }
}

.diretoresContainer{
  padding-bottom: 50px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100%;
  overflow-x: hidden;
}

.diretoresContainer h1{
  padding: 100px 0 100px 100px;
  align-self: flex-start;
}

.sliderContainer{
  /* margin-top: 1rem; */
  padding: 10px;
  margin: 0;
  display: flex;
  /* justify-content: center; */
  gap: 20px;
  overflow-x:hidden;
  border-bottom: 10px dashed rgba(255, 255, 255, 0.953);
  border-top: 10px dashed rgba(255,255, 255, 0.953);
  border-width: 5px;
  background-color: rgba(36, 34, 17, 0.953);
  height: 500px;
}

.sliderContainer div{
  height: 100%;
  width:300px;
  background-color: white;
  /* margin: 10px; */
  border-radius: 50px;
  animation-name:directorSlider;
  animation-duration: 40s;
  animation-delay: 0.5ms;
  display: flex;
  justify-content: center;
  align-items: center;
  color: green;
  font-size: 50px;
  /* animation-timing-function:; */
  /* animation-timing-function:n; */
  animation-iteration-count: infinite;
}




.diferencasContainer{
  /* background-color:rgb(173, 53, 53); */
  background-color:white;
  color:black;
}

.boasVindasContainer {
  height: 400px;
  align-items: center;
  gap:8px;
  justify-content: center;
  /* background: radial-gradient(rgba(233, 227, 124, 0.953),rgba(0, 0, 0, 0.762)); */
  background: linear-gradient(rgba(239, 234, 144, 0.953),white,rgba(52, 50, 26, 0.744));
  /* color:white; */
  color:rgba(52, 50, 26, 0.953);
}

.dashboardContainer{
  height: 140vh;
  gap:8px;
  background: linear-gradient(rgba(239, 234, 144, 0.953),rgba(52, 50, 26, 0.744));
  background-size: cover;
  background-repeat: no-repeat;
  color:rgba(52, 50, 26, 0.953);
 
}

.mainArea{
  padding-top: 50px;
  width: 100%;
}


.boasVindasContainer h1{
  text-align: center;
  font-size: calc(20pt + 30%);
}
.boasVindasContainer h2{
  padding: 8px;
  /* text-align: center; */
}

.dashboardMenu{
  background-color: white;
  width: 300px;
  padding-left: 15px;
  overflow-x: hidden;
   padding-top: 50px;
}

.dashboardMenu ul{
  padding-right: 12px;
gap: 30px;
}

.studentHeader{
  margin-top: -40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  padding-bottom: 8px;
  border-bottom: 2px groove black;
  margin-bottom: 30px;
}

.studentHeader div{
  width: 100px;
  height: 100px;
  background-color: rgba(16, 15, 15, 0.921);
  border-radius: 50%;
  transition: all 1s ease-in-out;
}

.dashboardMenu ul li{
  display: flex;
  cursor: pointer;
}
.dashboardMenu ul li a {
  width: 100%;
  overflow-x: hidden;
  padding: 10px;
  background-color:rgba(97, 93, 21, 0.953);
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.dashboardMenu ul li a:hover{
  background-color:rgba(229, 223, 104, 0.953);
}

.dashboardMenu ul #sair:hover{
  background-color: red;
  color: white;
  /* background-color:rgba(229, 223, 104, 0.953); */
}

.dashboardMenu ul li a{
  overflow-x: hidden;
  color:white;
}

.visaoContainer {
  grid-template-columns: 35fr 65fr;
  background-color: rgba(239, 234, 144, 0.953);
  color: black;
}

.textContainer h1 {
  margin-top: 10px;
  margin-bottom: 2rem;
}

.missaoContainer h1,
.visaoContainer h1,
.diferencasContainer h1 {
  margin-top: 20px;
  text-align: left;
  font-size: calc(50px + 10%);
}

.visao,
.visao h1 {
  text-align: end;
}

#quote {
  /* color:white; */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 70px;
}

.visaoContainer span {
  color: black;
}

.missaoContainer span {
  color: white;
}

.textContainer {
  padding-top: 20px;
}


.textContainer p {
  padding: 20px;
  font-size: 20px;
}

.picContainer {
  background-color: rgb(103, 103, 49);
  border-radius: 16px;
  height: 700px;
  width: 500px;
}

.slideContainer {
  margin: 20px 0 20px 0;
  height: 460px;
  border: 3px solid black;
}

.loginContainer{
  margin-top: 40px;
  gap:10px;
  background-color: rgb(103, 103, 49);
  /* background: rgb(103, 103, 49); */
  backdrop-filter: blur(15px);
  border-radius: 16px;
  /* width: 300px; */
  padding: 30px;
}

.loginContainer label{
  color:white;
}

.formMatricula input,
.formMatricula select,
.formMatricula button,
.loginContainer input,
.loginContainer button
{

  padding: 8px;
  border-radius: 8px;
  border:transparent;
}

.formMatricula input,
.formMatricula select,
.formMatricula button
{
  border: 1px solid rgb(103, 103, 49);
}

.formMatricula input:active,
.formMatricula select:active,
.formMatricula button:active{
  /* outline: none; */
  outline-color:rgb(103, 103, 49);
}
#sloga{
  padding: 0.5rem;
  text-align: justify;
  color:rgb(220, 37, 37);
}

.formMatricula button{
  background-color:rgb(103, 103, 49);
  color: white;
}

.formMatricula{
  gap:10px;
  padding: 10px;
}

.loginContainer button{
  margin-top: 8px;
}

.login{
  height: 400px;
}

.login a{
  text-align: center;
  padding: 10px;
  color: rgb(103, 103, 49);

}

.contatos{
  justify-content: space-between;
  gap: 10px;
}

.contatos div{
  width:45%
}

button{
  cursor: pointer;
}
.hide{
  display: none;
}

.studentPicture{
  background-color: red;
  border-radius: 8px;
  width: 140px;
  height: 140px;
}

.studentContainerHonor{
  align-items: center;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

.studentContainerHonor:hover{
  border:1px solid white;
  border-radius: 8px;
}

.honraContainer{
  gap: 15px;
}

.anunciosContainer{
  height: 600px;
  overflow-y: scroll;
  gap: 10px;
  border-radius: 8px;
  border:1px solid rgb(103, 103, 49);
}

::-webkit-scrollbar{
  background-color: white;
  border-radius: 8px;
  width: 10px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(103, 103, 49);
  border-radius: 8px;
}

#anuncioData{
  text-align: end;
  color:red;
}

em{
  font-weight: 500;
}

.menuContainer{
  background-color:rgba(30, 30, 8, 0.766);
  position: fixed;
  top: 0;
  left:-100%;
  width:100%;
  height: 100%;
  transition: all 1s ease-in-out;
  z-index: 6000;
}

.show{
  left: 0;
}

.menuItem{
  margin-top: 70px;
  padding: 10px;
  width: 70%;
  height: 95%;
  background-color: white;
  border-top-right-radius: 16px;
}
.menuItem ul{
  gap: 8px;
  font-size: 12px;
}
.menuItem ul li a{
  text-decoration: none;
  color:white;
  font-weight: 600;
}
.menuItem ul li{
  background-color: rgb(103, 103, 49);
  padding: 8px;
  transition: all 1s ease-in-out;
  cursor:pointer;
}
.menuItem ul li:hover{
  background-color: rgb(168, 168, 78);
}
.noScrool{
  overflow-y: hidden;
}

#portalLink{
  padding: 10px;
  text-decoration: none;
  background-color: rgb(168, 168, 78);
  border-radius: 8px;
  color: white;
  transition: all 1s ease-in-out;
}

.loginContainerSection{
display: flex;
justify-content: center;
}

.studentProfileContainer{
background-color: white;
border-radius: 8px;
height: 420px;
width: 300px;
padding: 8px;
gap: 15px;
align-self: center;
align-items: flex-start;
}

.profilePic{
  align-self: center;
  margin-top: 10px;
width:150px;
height:150px;
background-color: black;
border-radius: 50%;
}
.studentProfileContainer ul {
  gap:10px;
  padding: 8px;
  width: 96%;
}
.studentProfileContainer ul li{
  background-color: rgb(103, 103, 49);
  color:white;
  border-radius: 5px;
  padding: 5px;
}

#studentProfileContainerNome{align-self: center;}
.dashboardItems{
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.dashboardItems div{
  width:300px;
  height:300px;
  background-color: red;
}

.notaYearContainer{
  padding: 10px;
  background-color: white;
}

.notaYearHeader{
justify-content: space-between;
padding: 5px;
color:white;
background-color: rgb(103, 103, 49);
margin-bottom: 10px;
}

.notasContainer{
  height: 600px;
  overflow-y: auto;
  gap:10px;
  padding: 10px;
}

@media screen and (min-width:964px) {
  #btnHamburguer{display: none;}
  nav{
    display: flex;
    margin-right: 10px;
  }
  nav ul {
    display: flex;
    gap: 10px;
  }
  .separator{
    width: 2px;
    height: 20px;
    background-color: gold;
  }
  nav ul li a {
    color: white;
    text-decoration: none;  
    font-size: 15px;
    font-weight: 700;
    transition: all 1s ease-in-out;
  }
  
  nav ul li a:hover,
  a:active{
    padding-bottom: 5px;
    border-bottom: 2px solid white;
  }
  .menuContainer{
    left: -100%;
  }
}

@media screen and (max-width:350px) {
  .boasVindasContainer h1{
    font-size: calc(15pt + 20%);
  }
  .boasVindasContainer h2{
    padding: 8px;
    text-align: center;
    color: rgb(168, 27, 27);
  }

  .slideContainer {
    height: 260px;
  }

}

@media screen and (max-width:768px){
.missaoContainer,
.visaoContainer,
.diferencasContainer{
  display: flex;
  flex-direction: column;
  height: 1000px;
  padding: 20px;
  gap: 15px;
  color: white;
}
.missaoContainer h1,
.visaoContainer h1,
.diferencasContainer h1,
.diretoresContainer h1 {
  font-size: calc(30px + 10%);
}

.visaoContainer{
  flex-direction: column-reverse;
}

.diferencasContainer,
.visaoContainer{
  color:black;
}

.picContainer{
  width: 100%;
}
}

.logoContainer{
  width:60px;
  height:60px;
}

.logo{
  width:100%;
  height: 100%;
  border-radius: 50%;
  margin: 0.5px;
  transition: all 1s ease-in-out;
}

.logo:hover{
  box-shadow: 0 0 10px 10px rgb(160, 43, 43);
}
.wellcome{
  position: fixed;
  top:0;
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: brown;
  opacity: 0.97;
  z-index: 5000;
  color:white;
}

.wellcomeContent{
  margin-top: 20px;
  text-align: center;
  padding: 10px;
  font-size: 12px;
}

.wellcomeContent h1{
  padding: 8px;
}

@keyframes circulator {
  0%{
    transform: rotate(0deg);
  }
  50%{
    transform: rotate(35deg);
  }

  55%{
    transform: rotate(70deg);
  } 
  
  70%{
    transform: rotate(110deg);
  } 

  75%{
    transform: rotate(150deg);
  } 

  79%{
    transform: rotate(180deg);
  } 
  
  80%{
    transform: rotate(210deg);
  }  

  83%{
    transform: rotate(245deg);
  }

  89%{
    transform: rotate(270deg);
  }

  90%{
    transform: rotate(280deg);
  }
  
  93%{
    transform: rotate(300deg);
  }
  95%{
    transform: rotate(345deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.circle{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 10pt;
  padding: 10px;
  border: 5px dashed white;
  animation-name: circulator;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.circle img{
  position: absolute;
  width:100%;
  height: 100%;
}

.hide{
  display: none;
}