<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Portal do Estudante</title>
</head>
<body>
    <main class="dashboardContainer flexH">
        <div class="dashboardMenu">
            <ul class="flexV">
                <li><a href="/portal">Inicial</a></li>
                <li><a href="/portal/aproveitamento">Aproveitamento</a></li>
                <!-- <li><a href="/estudantes_honra">Confirmações</a></li> -->
                <!-- <li><a href="/anuncios">Nóticias e Anúncios </a></li> -->
                <li><a href="/portal/notas">Notas</a></li>
                <li><a href="/portal/perfil">Seu Perfil</a></li>
                <li><a href="/" id="sair">Terminar Sessão</a></li>
            </ul>
        </div>

        <div class="mainArea">
            <div class="studentHeader">
                <button>H</button>
                <div class="portalAvatarContainer">
                    <img src="/users/gra.jpg" alt="user-Avatar">
                </div>
            </div>
            <h1 class="portalArea">*Seu Portal</h1>
            <div class="dashboardItems flexH ">
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </main>
    <footer class="footerContainer">
        <p>Desenvolvido Por Graciano Manuel Henrique</p>
    </footer>
    <div class="wellcomeUser">
        <div class="wellcomeWrapper flexV">
            <div class="wellcomeAvatarWrapper">
                <img src="/users/gra.jpg" alt="user-Avatar">
            </div>
            <div class="wellcomedetails flexV">
                <h2>Seja Bem vindo</h2>
                <h2>Graciano Henrique</h2>
            </div>
            <div class="wellcomeInfo flexV">
                <p>c inventore facere odio autem blanditiis, provident repudiandae est dicta assumenda veniam optio veritatis dolorum eos?</p>
            </div>
            <button id="btnContinue">Continuar</button>
        </div>
    </div>
    <script src="./assets/index.js" type="module"></script>
    <script>
        document.querySelector("#btnContinue").addEventListener("click",()=>{
         document.querySelector(".wellcomeUser").classList.add('unshow');   
        })
    </script>
</body>
</html>