<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Portal do Estudante Login</title>
</head>
<body>
    <header class="headerContainer flexH">
        <div class="logoContainer">
            <a href="/">
                <img class="logo" src="/assets/img/logo.jpg" alt="Dom Jaca">
            </a>
        </div>
        <nav>
            <ul class="flexH">
                <li><a href="/">Inicial</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/acerca">Sobre nós</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/anuncios">Anúncios</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/portal_estudante">Portal do Estudante</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/alums">Alums</a></li>
            </ul>
        </nav>
        <button id="btnHamburguer">H</button>
    </header>
    <main class="loginWrapper">
            <div class="login flexV">
                <form action="#" class="loginContainer flexV">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                    <label for="senha">Senha</label>
                    <input type="password" name="senha" id="senha">
                    <button>Entrar</button>
                    <a href="#" style="color: white;">Recuperar sua senha</a>
                </form>

            </div>
    </main>
    <footer class="footerContainer">
        <p>Desenvolvido Por Graciano Manuel Henrique</p>
    </footer>
    <script src="./assets/index.js" type="module"></script>
</body>
</html>