<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Portal do Estudante - Notas</title>
</head>
<body>
    <main class="dashboardContainer flexH">
        <div class="dashboardMenu">
            <ul class="flexV">
                <li><a href="/portal">Inicial</a></li>
                <li><a href="/portal/aproveitamento">Aproveitamento</a></li>
                <!-- <li><a href="/estudantes_honra">Confirmações</a></li> -->
                <!-- <li><a href="/anuncios">Nóticias e Anúncios </a></li> -->
                <li><a href="/portal/notas">Notas</a></li>
                <li><a href="/portal/perfil">Seu Perfil</a></li>
                <li><a href="/" id="sair">Terminar Sessão</a></li>
            </ul>
        </div>

        <div class="mainArea">
            <div class="studentHeader">
                <h1>Suas Notas</h1>
                <div>
                    <img src="/users/gra.jpg" alt="user-Avatar">
                </div>
            </div>
            <section class="notasContainer flexV">
               <div class="notaYearContainer flexV">
                <div class="notaYearHeader flexH">
                    <h2>6º Classe</h2>
                    <h2>Ano Lectivo: 2022</h2>
                </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                    </div>
                </div>
               <div class="notaYearContainer flexV">
                <div class="notaYearHeader flexH">
                    <h2>7º Classe</h2>
                    <h2>Ano Lectivo: 2023</h2>
                </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                    </div>
                </div>
               <div class="notaYearContainer flexV">
                <div class="notaYearHeader flexH">
                    <h2>8º Classe</h2>
                    <h2>Ano Lectivo: 2024</h2>
                </div>
                    <div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui, excepturi, libero illo id sequi, laboriosam suscipit necessitatibus praesentium quasi voluptate neque dignissimos soluta quos nostrum minus perspiciatis laudantium? Odio, incidunt.</p>
                    </div>
                </div>
            </section>
           
        </div>
    </main>
    <footer class="footerContainer">
        <p>Desenvolvido Por Graciano Manuel Henrique</p>
    </footer>
    <script src="./assets/index.js" type="module"></script>
</body>
</html>