<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Portal do Estudante - Perfil</title>
</head>
<body>
    <main class="dashboardContainer flexH">
        <div class="dashboardMenu">
            <button class="portalCloseBtn">X</button>
            <div class="logoPortal">
                <a href="/">
                    <img class="logo" src="/assets/img/logo.jpg" alt="Dom Jaca">
                </a>
            </div>
            <ul class="flexV">
                <li><a href="/portal">Inicial</a></li>
                <li><a href="/portal/aproveitamento">Aproveitamento</a></li>
                <!-- <li><a href="/estudantes_honra">Confirmações</a></li> -->
                <!-- <li><a href="/anuncios">Nóticias e Anúncios </a></li> -->
                <li><a href="/portal/notas">Notas</a></li>
                <li><a href="/portal/perfil">Seu Perfil</a></li>
                <li><a href="/" id="sair">Terminar Sessão</a></li>
            </ul>
        </div>

        <div class="mainArea flexV">
            <div class="studentHeader">
                <button class="portalHamburguer">H</button>
                <h1 class="portalAreaDesk">Perfil</h1>
                <div class="portalAvatarContainer">
                    <img src="/users/gra.jpg" alt="user-Avatar">
                </div>
            </div>
            <h1 class="portalArea">*Perfil</h1>
            <div class="studentProfileContainer flexV">
                <div class="profilePic">
                    <img src="/users/gra.jpg" alt="user-Avatar">
                </div>
                <h3 id="studentProfileContainerNome">Graciano Henrique</h3>
                <ul class="flexV">
                    <li>
                        <h4>Turma: A</h4>
                    </li>
                    <li>
                        <h4>Classe: 7ª</h4>
                    </li>
                    <li>
                        <h4>Turno: Tarde</h4>
                    </li>
                    <li>
                        <h4>Nº de Matricula: 20247A</h4>
                    </li>
                    <li>
                        <h4>Ano Lectivo: 2024 / 2025</h4>
                    </li>
                    <li>
                        <h4>Email: gracianomanuelhenrique@gmail.com</h4>
                    </li>
                </ul>

            </div>
        </div>
    </main>
    <footer class="footerContainer">
        <p>Desenvolvido Por Graciano Manuel Henrique</p>
    </footer>
    <script src="./assets/index.js" type="module"></script>
</body>
</html>