<%- include('../components/Header',{title:"Dom Jaca Alumns"}) %>
<%- include('../components/Menus') %>
    <main class="homePageContainer">
        <section class="boasVindasContainer flexV">
            <h1>Nossos Alums</h1>
            <h2>Área reservada para os nossos Antigos estudantes.</h2>
        </section>

        <section class="diferencasContainer">
            <div class="textContainer">
                <h1>Nossos Alums</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>
    </main>
    <%- include('../components/Footer') %>