<%- include('../components/Header',{title:"Dom Jaca Anúncios"}) %>
<%- include('../components/Menus') %>
  <main class="homePageContainer">
    <section class="boasVindasContainer flexV">
      <h1>Área dos Anúncios Escolares</h1>
      <h2>Principais nóticias e anúncios da escola encontras aqui.</h2>
    </section>

    <section class="diferencasContainer">
      <div class="textContainer">
        <h1>Anúncios e Noticias</h1>
        <section class="anunciosContainer flexV">
          <article class="flexV">
            <p>
              <span id="quote">"</span>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p id="anuncioData"><em>Data: 25-05-2024</em></p>
          </article>
          <article class="flexV">
            <p>
              <span id="quote">"</span>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p id="anuncioData"><em>Data: 25-05-2024</em></p>
          </article>
          <article class="flexV">
            <p>
              <span id="quote">"</span>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p id="anuncioData"><em>Data: 25-05-2024</em></p>
          </article>
          <article class="flexV">
            <p>
              <span id="quote">"</span>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p>
              Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
              rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
            </p>
            <p id="anuncioData"><em>Data: 25-05-2024</em></p>
          </article>
        </section>

      </div>
      <div class="picContainer">
        <h1>aqui</h1>
      </div>
    </section>
  </main>
  <%- include('../components/Footer') %>