<%- include('../components/Header',{title:"Portal do Estudante"}) %>
<%- include('../components/Menus') %>
    <main class="homePageContainer">
        <section class="boasVindasContainer flexV">
            <h1>Portal do Estudante</h1>
            <h2>Onde consultas as notas e aproveitamento academico.</h2>
        </section>
        <section class="diferencasContainer">
            <div class="textContainer">
                <h1>Portal do Estudante e Encarregado</h1>
                <p>O encarregado de Educação pode ver as notas e aproveitamento do seu filho</p>
                <p>Agora poderá acompanhar o seu filho mesmo estando no trabalho ou distante.</p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    <a href="/login" id="portalLink">Clique Aqui</a>
                </p>
            </div>
            <div class="picContainer"> 
                <img src="/assets/img/studentFather.jpg">
            </div>
        </section>
    </main>
    <%- include('../components/Footer')%>