<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./assets/style.css">
  <title>Not Found</title>
</head>

<body>
  <header class="headerContainer flexH">
    <h1 class="logo"><a href="/">DOM JACA</a></h1>
    <nav>
        <ul class="flexH">
            <li><a href="/">Inicial</a></li>
            <li><div class="separator"></div></li>
            <li><a href="/acerca">Sobre nós</a></li>
            <li><div class="separator"></div></li>
            <li><a href="/anuncios">Anúncios</a></li>
            <li><div class="separator"></div></li>
            <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
            <li><div class="separator"></div></li>
            <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
            <li><div class="separator"></div></li>
            <li><a href="/portal_estudante">Portal do Estudante</a></li>
            <li><div class="separator"></div></li>
            <li><a href="/alums">Alums</a></li>
        </ul>
    </nav>
    <button id="btnHamburguer">H</button>
</header>
  <div class="menuContainer">
    <header class="headerContainer flexH">
        <h1 class="logo"><a href="/">DOM JACA</a></h1>
        <button id="btnClose">X</button>
</header>
<div class="menuItem">
    <ul class="flexV">
        <li><a href="/">Inicial</a></li>
        <li><a href="/acerca">Sobre nós</a></li>
        <li><a href="/anuncios">Anúncios</a></li>
        <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
        <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
        <li><a href="/portal_estudante">Portal do Estudante</a></li>
        <li><a href="/alums">Alums</a></li>
    </ul>
</div>
</div>
  <main class="notfoundContainer">
    <div class="flexV">
      <h1>Página não Encontrada.</h1>
      <h3>Porfavor Certifica-se de que estejas conectado a internet.</h3>
      <h3>Porfavor Certifica-se de escrever um endereço válido.</h3>
    </div>
  </main>
  <footer class="footerContainer">
    <p>Desenvolvido Por Graciano Manuel Henrique</p>
  </footer>
</body>

</html>