<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Sobre Nós</title>
</head>
<body>
    <header class="headerContainer flexH">
        <h1 class="logo"><a href="/">DOM JACA</a></h1>
        <nav>
            <ul class="flexH">
                <li><a href="/">Inicial</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/acerca">Sobre nós</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/anuncios">Anúncios</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/portal_estudante">Portal do Estudante</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/alums">Alums</a></li>
            </ul>
        </nav>
        <button id="btnHamburguer">H</button>
    </header>
    <div class="menuContainer">
        <header class="headerContainer flexH">
            <h1 class="logo"><a href="/">DOM JACA</a></h1>
            <button id="btnClose">X</button>
    </header>
    <div class="menuItem">
        <ul class="flexV">
            <li><a href="/">Inicial</a></li>
            <li><a href="/acerca">Sobre nós</a></li>
            <li><a href="/anuncios">Anúncios</a></li>
            <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
            <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
            <li><a href="/portal_estudante">Portal do Estudante</a></li>
            <li><a href="/alums">Alums</a></li>
        </ul>
    </div>
    </div>
    <main class="homePageContainer">
        <section class="boasVindasContainer flexV">
            <h1>Sobre a Escola Dom Jaca</h1>
            <h2>Saiba tudo sobre nós.</h2>
        </section>
        <section class="missaoContainer">
            <div class="textContainer">
                <h1>Quem Somos</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>

        <section class="visaoContainer">
            <div class="picContainer">
            </div>
            <div class="textContainer visao">
                <h1>Nossa História</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                    </p>
            </div>
        </section>

        <section class="diretoresContainer">
                <h1 class="h1">Nossos Directores</h1>  

            <div class="sliderContainer">
                <div>
                    1
                </div>
                <div>
                    2
                </div>
                <div>
                    3
                </div>
                <div>
                    4
                </div>
                <div>
                    5
                </div>
                <div>
                    6
                </div>
                <div>
                    7
                </div>
                <div>
                    8
                </div>
            </div>

        </section>



    </main>
    <footer class="footerContainer">
        <p>Desenvolvido Por Graciano Manuel Henrique</p>
    </footer>
    <script src="./assets/index.js" type="module"></script>
</body>
</html>