<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/style.css">
    <title>Home Page</title>
</head>
<body id="body">
    <header class="headerContainer flexH">
            <div class="logoContainer">
                <a href="/">
                    <img class="logo" src="/assets/img/logo.jpg" alt="Dom Jaca">
                </a>
            </div>
        <nav>
            <ul>
                <li><a href="/">Inicial</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/acerca">Sobre nós</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/anuncios">Anúncios</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/portal_estudante">Portal do Estudante</a></li>
                <li><div class="separator"></div></li>
                <li><a href="/alums">Alums</a></li>
            </ul>
        </nav>
        <button id="btnHamburguer">H</button>
    </header>
    <div class="menuContainer">
        <header class="headerContainer flexH">
            <div class="logoContainer">
                <a href="/">
                    <img class="logo" src="/assets/img/logo.jpg" alt="Dom Jaca">
                </a>
            </div>
            <button id="btnClose">X</button>
    </header>
    <div class="menuItem">
        <ul class="flexV">
            <li><a href="/">Inicial</a></li>
            <li><a href="/acerca">Sobre nós</a></li>
            <li><a href="/anuncios">Anúncios</a></li>
            <li><a href="/estudantes_honra">Estudantes de Honra</a></li>
            <li><a href="/novas_matriculas_confirmacoes">Matriculas/Confirmações</a></li>
            <li><a href="/portal_estudante">Portal do Estudante</a></li>
            <li><a href="/alums">Alums</a></li>
        </ul>
    </div>
    </div>
    <main class="mainPageContainer">
        <section class="boasVindasContainer flexV">
            <h1>Nova era digital da Escola Dom Jaca</h1>
            <h2>Agora estamos mais próximo de ti.</h2>
        </section>
         <section class="slideContainer">
        </section>
        <section class="missaoContainer">
            <div class="textContainer">
                <h1>Nossa Missão</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>

        <section class="visaoContainer">
            <div class="picContainer">
            </div>
            <div class="textContainer visao">
                <h1>Nossa Visão</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                    </p>
            </div>
        </section>

        <section class="diferencasContainer">
            <div class="textContainer">
                <h1>Nossas Diferenças</h1>
                <p>
                    <span id="quote">"</span>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Et porro possimus voluptatum quos ab? Tenetur explicabo ipsum consectetur temporibus doloremque unde cupiditate,
                     rerum voluptates voluptatum fuga error optio. Aliquid, expedita.
                </p>
            </div>
            <div class="picContainer"> 
                <h1>aqui</h1>
            </div>
        </section>



    </main>
    <footer class="footerContainer">
        <p>Desenvolvido Por Graciano Manuel Henrique</p>
    </footer>
    <div class="wellcome">
        <div class="circle">
            <img class="logo" src="/assets/img/logo.jpg" alt="Dom Jaca">
        </div>
        <div class="wellcomeContent">
            <h1>Seja bem vindo</h1>
            <h1>à escola</h1>
            <h1>Dom Jaca</h1>
        </div>
    </div>
    <script src="/assets/index.js" type="module"></script>
    <script>
        const circle=document.querySelector('.wellcome');
        setTimeout(()=>{
            circle.classList.add('hide');
        },2000)
    </script>
</body>
</html>