<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style.css">
    <title>Home Page</title>
</head>
<body>
    <header>
        <h1>GRA</h1>
    </header>
    <main>
        <h1>Ola Dom Jaca A very Good School</h1>
        <h2>I am the home Page </h2>
    </main>
    <footer>
        <h1>Ola Dom Jaca A very Good School</h1>
    </footer>
    <script src="./assets/index.js" type="module"></script>
</body>
</html>